<div class="modal" id="info-modal">
    <div class="modal-underlay" hx-on:click='document.getElementById("info-modal").remove()'></div>
    <div class="modal-content">
        <h2>About Rückenwind</h2>
        <p>
            This site shows you <span class="current"><b>current</b></span> and <span class="future"><b>future</b></span> (3 hours from now) weather information for your location.
            It focuses on wind direction and speed, so you can make decisions during your bike adventure.
            The small numbers around the compass represent distances (in km) to the closest campsites.
        </p>
        <p>Symbol legend:</p>
        <ul id="symbol-legend">
            <li class="legend-item"><img src="/static/images/thermometer.svg">temperature</li>
            <li class="legend-item"><img src="/static/images/wind.svg">wind speed</li>
            <li class="legend-item"><img src="/static/images/tornado.svg">gust speed</li>
            <li class="legend-item"><img src="/static/images/cloud-rain-wind.svg">rain intensity</li>
            <li class="legend-item"><img src="/static/images/sunset.svg">sunset time</li>
        </ul>

        <h2>Permissions</h2>
        <p>
            This site needs your <em>location</em> to fetch weather data and campsite locations.
            Therefore, if you want to use this site, you need to allow the site to access your location.
        </p>
        <p>
            Furthermore, if you're using a mobile device (Android or iOS), your device's <em>orientation</em> sensor is used to rotate the compass.
            On iOS, you have to give this permission explicitly.
        </p>

        <h2>Privacy</h2>
        <p>
            The coordinates from your device's location are used to fetch the weather forecast and closest campsites for your area and therefore shared with OpenWeather and Overpass API (see below).
            However, no further data from your device is sent to those services.
        </p>
        <p>
            To track usage statistics, this site uses a self-hosted <a href="https://github.com/plausible/community-edition" rel="noreferrer noopener" target="_blank">Plausible</a> instance.
        </p>
        <p>
            This site doesn't use cookies.
        </p>

        <h2>Data sources</h2>
        <p>
            Weather data is provided by <a href="https://openweathermap.org/" rel="noreferrer noopener" target="_blank">OpenWeather</a>.
            Campsite locations are fetched from <a href="https://www.openstreetmap.org" rel="noreferrer noopener" target="_blank">OpenStreetMap</a> via <a href="https://wiki.openstreetmap.org/wiki/Overpass_API" rel="noreferrer noopener" target="_blank">Overpass API</a>.
        </p>
        <div class="source-logos">
            <a href="https://openweathermap.org" rel="noreferrer noopener" target="_blank">
                <img src="/static/images/open_weather_logo.svg" alt="OpenWeather logo" height="40px">
            </a>
        </div>

        <h2>Icons</h2>
        <p>
            The icons on this site are provided by <a href="https://lucide.dev" rel="noreferrer noopener" target="_blank">Lucide</a> and are licensed under ISC.
        </p>

        <h2>Source code</h2>
        <p>
            You can find the source on <a href="https://github.com/leomfn/rueckenwind" rel="noreferrer noopener" target="_blank">GitHub</a>.
            Feel free to open an issue if you find a bug.
        </p>

        <div class="close-container">
            <button id="close-modal" hx-on:click='document.getElementById("info-modal").remove()'>Close</button>
        </div>
    </div>
</div>
