@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/open-sans/open-sans-v40-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/static/fonts/open-sans/open-sans-v40-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


:root {
    --primary: #38261F;
    --secondary: #F1A484;
    --background: #E5FCF5;
    --tertiary: #B3DEC1;
}

html {
    height: 100%;
}

em {
    color: var(--tertiary);
    font-style: normal;
    font-weight: bold;
}

h2 {
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    position: sticky;
    top: 0;
    background-color: white;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background);
    user-select: none;
    -webkit-user-select: none;
}

#container {
    width: 90%;
    max-width: 800px;
    height: 100%;
    display: flex;
    justify-content: center;
}

#welcome-info {
    width: 100%;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

#site-info {
    height: 40px;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-34px);
    display: flex;
    gap: 0.5rem;
}

#compass-weather-info {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 10%;
    position: fixed;
}

#compass {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5%;
    /* trying to smoothen the compass rotation, which leads to the
    compass jumping when rotation crosses 0/360 degrees */
    /* transition: transform 0.1s ease-out; */
}

#compass-circle {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--tertiary);
    background-color: var(--background);
    border-radius: 50%;
    flex-shrink: 0;
}

.sites-container {
    opacity: 1;
    animation: fadeIn 0.8s;
}

.sites-container.visible {
    animation: fadeIn 0.8s;
}

.sites-container.hidden {
    opacity: 0;
    pointer-events: none;
    animation: fadeOut 0.8s;
}

@keyframes fadeIn {
    0% { scale: 0.5; opacity: 0;}
    50% { scale: 1.05; }
    100% { scale: 1; opacity: 1;}
}

@keyframes fadeOut {
    0% { scale: 1; opacity: 1;}
    100% { scale: 0; opacity: 0;}
}

#sites-loader {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px var(--tertiary);
    border-radius: 50%;
    flex-shrink: 0;
    animation: pulse 0.5s alternate infinite;
}

@keyframes pulse {
    0% { opacity: 0;}
    100% { opacity: 1; }
}

.compass-site {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom center;
    font-size: x-small;
    color: var(--primary);
    text-align: center;
    z-index: -1;
}

#drinking-water-sites {
    visibility: hidden;
}

#cafe-sites {
    visibility: hidden;
}

.site-text {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.site-indicator {
    height: calc(100% - 0.8rem);
    width: 0;
    position: fixed;
    bottom: 0;
    left: 50%;
    border-left: 1px dotted var(--primary);
}

.direction {
    position: absolute;
}

.arrow {
    height: 80px;
    width: 80px;
    position: absolute;
}

.current {
    color: var(--primary);
    stroke: var(--primary);
}

.future {
    color: var(--secondary);
    stroke: var(--secondary);
}

.weather-info {
    position: fixed;
    bottom: 20%;
    font-size: 1rem;
}

.info-row {
    display: flex;
    align-items: center;
    margin-bottom: 0.2rem;
}

.info-row img {
    padding-right: 1rem;
    height: 1rem;
}

.info-row .current {
    margin-right: 0.5rem;
}

.info-row .future {
    margin-right: 0.5rem;
}

#symbol-legend {
    list-style-type: none;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.legend-item img {
    padding-right: 1rem;
}

button {
    width: 68px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--tertiary);
    border-radius: 8px;
    padding: 10px 12px;
    background-color: transparent;
    color: var(--primary);
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

button:active {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

#sites-fab-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 0.3rem;
    z-index: 10;
    visibility: hidden;
}

.sites-fab {
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: var(--background);
}

.sites-fab:active {
    background-color: var(--tertiary);
    border-color: var(--tertiary);
}

.sites-fab-choices {
    opacity: 1;
    transition: opacity 0.1s ease;
}

.sites-fab-choices.collapsed {
    opacity: 0;
    pointer-events: none;
}

.sites-fab-selected {
    background-color: var(--tertiary);
}

.sites-fab-selected:active {
    background-color: var(--background);
}

.sites-fab > img{
    width: 100%;
    height: 100%;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: opacity 0.1s ease-out;
    z-index: 1000;
}

.modal.htmx-added {
    opacity: 0;
}

.modal > .modal-underlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.modal > .modal-content {
    width: 80%;
    max-width: 600px;
    max-height: 75%;
    top: 10%;
    position: fixed;
    overflow-y: scroll;
    border: solid 1px var(--primary);
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
    background-color: white;
    padding: 0 20px 0px 20px;
    user-select: text;
    -webkit-user-select: text;
}

.modal-content > .close-container {
    height: 40px;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 0;
    align-items: center;
}

.close-container > button {
    background-color: var(--secondary);
    border-color: var(--primary);
}

.close-container > button:active {
    background-color: var(--background);
}