:root {
    --primary: #38261F;
    --secondary: #F1A484;
    --background: #E5FCF5;
    --tertiary: #B3DEC1;
}

html {
    height: 100%;
}

em {
    color: var(--tertiary);
    font-style: normal;
    font-weight: bold;
}

h2 {
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    position: sticky;
    top: 0;
    background-color: white;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background);
}

.container {
    width: 90%;
    max-width: 800px;
    height: 100%;
    display: flex;
    justify-content: center;
}

#welcome-info {
    width: 100%;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

#cycle-banner {
    position: fixed;
    top: 15px;
    white-space: nowrap;
    animation: cyclist 8s linear infinite;
}

@keyframes cyclist {
    0% {
        left: 100%;
    }

    100% {
        left: -150%;
    }
}

#site-info {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#compass {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--tertiary);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: relative;
    margin: 1rem;
    /* trying to smoothen the compass rotation */
    transition: transform 0.1s ease-out;
}

#compass-circle {
    border: 5px solid --tertiary;
    background-color: var(--background);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

#compass-weather-info {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 10%;
    position: fixed;
}

.compass-site {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    font-size: 0.5rem;
    text-align: center;
    opacity: 50%;
    z-index: -1;
}

.site-indicator {
    width: 0;
    border-left: 1px dotted black;
    transform: translateY(-50%);
}

.direction {
    position: absolute;
}

.arrow {
    height: 80px;
    width: 80px;
    position: absolute;
}

.current {
    color: var(--primary);
    stroke: var(--primary);
}

.future {
    color: var(--secondary);
    stroke: var(--secondary);
}

.info-row {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.info-row img {
    padding-right: 1rem;
}

.info-row .current {
    margin-right: 0.5rem;
}

.info-row .future {
    margin-right: 0.5rem;
}

#symbol-legend {
    list-style-type: none;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.legend-item img {
    padding-right: 1rem;
}

button {
    width: 68px;
    height: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--tertiary);
    border-radius: 8px;
    padding: 10px 12px;
    background-color: transparent;
    color: var(--primary);
    cursor: pointer;
}

button:hover {
    border-color: var(--primary);
}

button:active {
    background-color: var(--secondary);
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: opacity 0.1s ease-out;
}

.modal.htmx-added {
    opacity: 0;
}

.modal > .modal-underlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.modal > .modal-content {
    width: 80%;
    max-width: 600px;
    max-height: 70%;
    top: 10%;
    position: fixed;
    overflow-y: scroll;
    border: solid 1px black;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
    background-color: white;
    padding: 0 20px 0px 20px;
}

.modal-content > .close-container {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 0;
    align-items: center;
}

.close-container > button {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.close-container > button:hover {
    border-color: var(--primary);
}

.close-container > button:active {
    background-color: var(--background);
}