<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rückenwind</title>

    <link rel="icon" type="image/png" href="/static/favicon/favicon-48x48.png" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="/static/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/static/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/static/site.webmanifest" />

    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <script src="/static/index.js"></script>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div id="container">
        <div id="welcome-info">waiting for data...</div>
        <div id="site-info">
            <button hx-get="/about" hx-target="body" hx-swap="beforeend">About</button>
            <div id="sites-fab-container">
                <div>
                    <button id="sites-fab-main" class="sites-fab">
                        <img class="sites-loader htmx-indicator" src="/static/images/tail-spin.svg">
                        <img id="sites-fab-main-image" src="/static/images/search.svg">
                    </button>
                </div>
                 <div>
                    <button id="sites-fab-camping" class="sites-fab sites-fab-choices collapsed">
                        <img src="/static/images/campsite.svg">
                    </button>
                </div>
                <div>
                    <button id="sites-fab-water" class="sites-fab sites-fab-choices collapsed">
                        <img src="/static/images/water.svg">
                    </button>
                </div>
                <div>
                    <button id="sites-fab-cafe" class="sites-fab sites-fab-choices collapsed">
                        <img src="/static/images/coffee.svg">
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>