<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <script src="/static/index.js"></script>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="container">
        <div id="welcome-info">waiting for data...</div>
        <div id="site-info">
            <button hx-get="/about" hx-target="body" hx-swap="beforeend">About</button>
        </div>
    </div>
</body>
</html>