@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/open-sans/open-sans-v40-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/open-sans/open-sans-v40-latin-700.woff2') format('woff2');
}

:root {
  font-family: 'Open Sans', sans-serif;

  --font-color: #02373Fff;
  /* --background: #B0DFCCff; */
  --background: rgb(238, 254, 247);
  --tertiary: #19B0A4ff;
  --current: #017775ff;
  /* --secondary-background: #F7D5B0ff; */
  --secondary-background: rgb(255, 250, 245);
  --tertiary-warning: #E15C23ff;
  --future: #A23310ff;

  color: var(--font-color);
  background-color: var(--background);
}

html, body {
  height: 100%;
  margin: 0;
}

em {
    color: var(--tertiary);
    font-style: normal;
    font-weight: bold;
}

#app {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-container {
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current {
  color: var(--current);
  stroke: var(--current);
}

.future {
  color: var(--future);
  stroke: var(--future);
}

button {
  font-family: 'Open Sans', sans-serif;
  width: 68px;
  height: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--tertiary);
  border-radius: 8px;
  padding: 10px 12px;
  background-color: var(--background);
  color: var(--font-color);
  cursor: pointer;
}

button:active {
    background-color: var(--tertiary);
    border-color: var(--tertiary);
}

.close-button {
  border-color: black;
}

.close-button:active {
  border-color: black;
}

.sites-loading {
    animation: pulse 0.5s alternate infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0px var(--tertiary);
    }

    100% {
        box-shadow: 0 0 10px var(--tertiary);
    }
}